@font-face {
    font-family: KuryeHapn;
    src: url("kuryeCustom.ttf") format("opentype");
}

.container{      
    font-family: KuryeHapn;                                     
    display:grid;
    grid-template-columns: auto auto auto auto;
    font-weight:bolder;
}

.row{
    font-family: KuryeHapn;   
    width:100%;
    margin:0 auto;
    background: black;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    /* height: 740px; */
    font-weight:bolder;
}

.scrollRow{
    font-family: KuryeHapn;   
    width:100%;
    margin:0 auto;
    background: black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    /* height: 740px; */
    font-weight:bolder;
}

.twoThird{
    display: inline-block;
    width: 38%;
    margin-top: 40px;
    zoom: .8;
    margin-left: 60px;
}

.oneThird{
    width: 40%;
    display: inline-block;
    text-align: right;
    position: relative;
    bottom: 20px;
    contain: content;
    margin-top: 20px;
}

.topBar{
    font-family: KuryeHapn;   
    font-family: 'Kurye', sans-serif;        
    height: 100px;
    /* margin-top: 20px; */
    background: linear-gradient(97.05deg, #784AE8 1.5%, #FF694F 78.95%, #CC30BA 160.76%);
    position:fixed;
    width:100%;
    margin:0 auto;
    font-weight:bolder;
}


#mobileCta{
    font-size: 125%;
    direction: rtl;
    display: inline-block;
    width: 102%;
    float: left;
    margin-bottom: -27px;
    font-family: KuryeHapn;
    font-weight:900;
    color: #FFFFFF;
    margin-left:10px;
    font-weight:bolder;
}

.hapnIcon{
    background-image: url(hapnIcon.png);
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24%;
    float: right;
    position: relative;
    left: 62px;
    bottom: 12px;
    zoom: 1.2;
}

.oneThird i{
    zoom:1.5;
    color:white;
}

.poster{
    width:90%;
    margin:0 auto;
    margin-bottom:-5px;
    margin-top:100px;
}

.menu{
    background-color: black;
    display: none;
    padding-top: 125px;
    height: 800px;
    color: white;
    text-align: center;
    font-family: KuryeHapn;
    font-weight:bolder;
}

.menuItem{
    margin-bottom:5%;
    font-weight:bolder;
}

.lines{
    background-image:url(lines.png);
    height: 61px;
    background-color: black;
}

.footer{
    height:100px;
    background-color:#784AE8;
    margin-top: -5px;
    position:fixed;
}

.footerScroll{
    padding-top: 50px;
    height: 60px;
    background-color: #784AE8;
    margin-top: -5px;
    position: relative;
    text-align: center;
    color: white;
}

.footerText{
    width: 50%;
    color: white;
    font-family: KuryeHapn;
    font-size: 104%;
    padding-left: 5%;
    display: inline-block;
    font-weight:bolder;
}

.footerBtn{
    width:40%;
    display:inline-block;
}

.exit{
    display:none;
    color: white;
    font-family: KuryeHapn;
    font-weight:bolder;
}

#gradient{
    color:#FF694F;
}


.aboutUs{
    background-color: black;
    color:white;
    margin-top: 110px;
}

.cta{
    background-image:url(about.png);
    height: 169px;
    background-repeat: no-repeat;
    font-family: KuryeHapn;
    font-weight:bolder;
}

.ctaPolicy{
    background-image:url(privacy.png);
    height: 169px;
    background-repeat: no-repeat;
    font-family: KuryeHapn;
    font-weight:bolder;
}

.headline{
    text-align:center;
    padding-top:20%;
    font-size: 20px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #1FE3CF;
    font-weight:900;
}

.lead{
    text-align:center;
    font-family: KuryeHapn;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom:1px solid #1FE3CF;
    font-weight:bolder;
}

.description{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    font-feature-settings: 'liga' off;
    margin-left: 5%;
    margin-right: 2%;
    font-size: 15px;
}

.smallLead h4{
    font-family: KuryeHapn;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-weight:bolder;
    /* or 120% */
    
    display: flex;
    align-items: center;
    font-feature-settings: 'liga' off;
    
    /* hapn - White */
    
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #1FE3CF;
    margin-left:5%;
}

.smallerLead{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* or 125% */

font-feature-settings: 'liga' off;

/* hapn - White */

color: #FFFFFF;
margin-left:5%;
}

.subscribe{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    font-feature-settings: 'liga' off;
    
    /* hapn - White */
    
    color: #FFFFFF;
    margin-left:5%;

}

.subscribe input{
    width:90%; 
}

.subscribe button{
    width: 110px;
height: 44px;

/* hapn - Gradient 2 */

background: linear-gradient(97.05deg, #1FE3CF 1.5%, #784AE8 80.69%, #CC30BA 121.6%, #FF694F 168.59%);
border-radius: 40px;
color:white;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-left:55%;
}

.contactCta{
    background-image:url(contact.png);
    height: 169px;
    background-repeat: no-repeat;
    font-family: KuryeHapn;
    font-weight:bolder;
}


.footer div{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* or 170% */

text-align: center;
font-feature-settings: 'liga' off;

/* hapn - White */

color: #FFFFFF;
text-align:center;
padding-top:10%;
}


.contactRow{
    width:100%;
    margin:0 auto;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

#iconEmail{
    background-image:url(email.svg);
    background-repeat: no-repeat;

    height:20px;
    width:6%;
    float:left;
    margin-left:5%;
}

#textEmail{
    width:70%;
    margin-left:50px;
}

#iconPhone{
    background-image:url(place.svg);
    background-repeat: no-repeat;

    height:20px;
    width:6%;
    float:left;
    margin-left:5%;
}

#textPhone{
    width:70%;
    margin-left:50px;
}

#iconPlace{
    background-image:url(phone.svg);
    background-repeat: no-repeat;

    height:20px;
    width:6%;
    float:left;
    margin-left:5%;
}

#textPlace{
    width:70%;
    margin-left:50px;
}

.privacyCta{
    background-image:url(privacy.png);
    height: 169px;
    background-repeat: no-repeat;
    font-family: KuryeHapn;
    font-weight:bolder;
}

.privRow{
    width:90%;
    margin:0 auto;
    border-bottom:1px solid white;
    font-family: 'Nunito Sans';
    font-style: normal;
    color: white;
    height: 50px;
    margin-top: 10px;


    
}

.privCol1{
    margin-left:5px;
    width:10%;
    display:inline-block;
}

.privCol2{
    width:80%;
    display:inline-block;
}

.privCol3{
    width:5%;
    display:inline-block;
    zoom:150%;
}


.privacyLead{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    margin-left: 5%;
    padding-top: 10%;
}

.privacyText{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    margin-left: 5%;
    margin-top: 5%;
    display:none;
}

#genOut{
    display:none;
}


#polOut{
    display:none;
}


#dataOut{
    display:none;
}


#collectOut{
    display:none;
}

#shareOut{
    display:none;
}

#choiceOut{
    display:none;
}

#personOut{
    display:none;
}

#busOut{
    display:none;
}

#childOut{
    display:none;
}

#euOut{
    display:none;
}

#caOut{
    display:none;
}
#changeOut{
    display:none;
}

#forOut{
    display:none;
}